pypdf
langchain-google-genai
langchain-community
tavily-python 
pandas 
tiktoken 
langchain
chromadb
langchain-text-splitters
python-dotenv
langchain-cohere
langgraph
langchain-pinecone
pysqlite3-binary
